﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="text-danger"> @TempData["ErrorMessage"] </p>

<br /> 

@using (Html.BeginForm("SubmitRequest", "Home", FormMethod.Post))
{
    <input name="pageUrl" id="pageUrl" type="text" class="form-control" required placeholder="Enter URL.. " />
    <br />
    <input name="userEmail" id="userEmail" type="email" class="form-control" placeholder="Email Address" required />
    <br />
    <br />
    <button type="submit" id="btnSubmit" class="btn btn-default">Submit</button>
}
