﻿
@{
    ViewBag.Title = "Success";
}


<div class="container">

    <div class="well-lg">
        <h2 class="text-success">Success</h2>
        <br />
        <p> Your request has been logged, you will recieve the csv file in your mail when the operation is complete</p>
    </div>

</div>